# Build output folders
bin/
obj/

# User-specific files (IDE related)
*.user
*.suo

# Visual Studio settings folder
.vs/

# VS Code settings folder
.vscode/

# JetBrains Rider settings folder
.idea/

# NuGet package files
*.nupkg
project.lock.json
project.assets.json

# Debug and temporary files
*.log
*.cache
*.pdb
*.dll
*.bak
*.tmp

# Operating System files
.DS_Store

# Optional: Rider's cache files (sometimes useful to exclude)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml

# Optional: Ignore Rider project files th
