# Build output
bin/
obj/

# User-specific
*.user
*.suo

# Visual Studio settings
.vs/

# VS Code / Rider
.vscode/
.idea/

# NuGet
*.nupkg
project.lock.json
project.assets.json

# Debug and temp files
*.log
*.cache
*.pdb
*.dll
*.bak
*.tmp

# OS files
.DS_Store
